# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/build/

# Local env files
.env
server/.env

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db
